body {
  font-family: sans-serif;
  margin: 10;
  padding: 10;
  background: #f4f4f4;
}

header {
  background: #27e002;
  color: white;
  padding: 20px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background: #5cd877;
  color: white;
  padding: 10px;
  text-align: center;
}
.chat-box {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 50px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  box-shadow: 0 0 10px rgba(2,0,0,0.1);
}

#chat {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
}

#message {
  width: 75%;
  padding: 8px;
  box-sizing: border-box;
}

#send {
  width: 20%;
  padding: 8px;
  box-sizing: border-box;
  margin-left: 5%;
}

.msg {
  margin-bottom: 5px;
}
/* центруем кортинки */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Статьи */
.post {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  line-height: 1.6;
  font-size: 18px;
}

.post h2 {
  margin-top: 0;
  color: #333;
}

.post .date {
  color: #888;
  font-size: 14px;
  margin-bottom: 10px;
}

summary {
  cursor: pointer;              /* курсор-рука */
  font-size: 21px;              /* размер текста */
  font-weight: bold;            /* жирный */
  color: #0056b3;               /* синий цвет */
  text-decoration: underline;   /* подчеркнутый */
  padding: 6px 0;               /* отступы сверху/снизу */
}

summary:hover {
  color: #ff6600;               /* при наведении меняется цвет */
}
